.body{
    background-color: rgb(235, 255, 241);
    /* background-image:url('poto.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.container{
    background-color: red;
}

.gitak{
    display: block;
}

.sbok{
    display: none;
}

.content {
 /* background-color: aqua; */
background-image: url('image.jpg');
}

.form-input{
    margin: 10px;
}

.input-flex{
    display: flex;
    justify-content: space-between;
}

.form-container{
    /* background-color: red; */
    width: 320px;
}

.input-full{
    width: 100%;
}

.table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            background-color: aqua;
        }
.th, td {
      padding: 10px;
     }

     .caption {
        color: rgb(22, 22, 22);
        font-size: x-large;
     }

     /* .h4, p{ */
        background-color: rgb(121, 129, 129);
     }

/* .tabel { */
/* border: 1px solid black; */
}
