.body{
    background-color: rgb(80, 92, 84);
    /* background-image:url('poto.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.container{
    background-color: red;
}

.gitak{
    display: block;
}

.sbok{
    display: none;
}

.content {
 /* background-color: aqua; */
background-image: url('image.jpg');
}